<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragments :: head"></head>

<body>

    <!-- Navbar -->
    <div th:replace="fragments/fragments :: nav"></div>

    <div class="container">
        <h2 class="text-center mb-4">Best Songs</h2>

        <div class="d-grid gap-2 col-6 mx-auto">
            <!-- Ciclo su tutte le canzoni -->
            <div th:each="song : ${songs}" class="btn btn-light border">
                <span th:text="${song.title}">Song Title</span>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="fragments/fragments :: footer"></div>

</body>

</html>